<!-- <app-fecha-actual></app-fecha-actual> -->
<!-- data biding: interpolacion -->
<!-- <app-viewmodel></app-viewmodel> -->
<!-- <app-ejmetodo></app-ejmetodo> -->
<!-- <app-ejpropertybiding></app-ejpropertybiding> -->
<!-- <app-ejeventbiding></app-ejeventbiding> -->
<!-- <app-ej2waybiding></app-ej2waybiding>-->
<!-- <app-ejdirectivangif></app-ejdirectivangif> -->
<!-- <app-ejdirectivangstyle></app-ejdirectivangstyle> -->
<!-- <app-ejdirectivangclass></app-ejdirectivangclass> -->
<!-- <app-ejdirectivangfor></app-ejdirectivangfor> -->
<!-- <app-ejarrayobjetos></app-ejarrayobjetos> -->
<!-- <app-ejdirectivangswitch></app-ejdirectivangswitch> -->
<!-- <app-ejmidirectiva></app-ejmidirectiva> -->
<!-- <app-padre></app-padre> -->
<!-- <app-pipes-examples></app-pipes-examples> -->

