.aprobado {
  color: white;
  background: green;
  padding: 10px;
}

.suspenso {
  color: white;
  background: red;
  padding: 10px;
}

h4, input{
  width: 40rem;
  margin: auto;
}

.advertencia {
  color: white;
  background: orange;
  padding: 10px;
}
